* {
	font-family: 'Courier New', monospace;
}

html {
	background-image: url(bayou.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: white;
	margin-top: 100px;
	text-align: center;
}

h2 {
	background-image: url('book.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 2px;
	padding-left: 40px;
	width: fit-content;
	margin-left: 10px;
}

h3 {
	background-image: url('page.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 2px;
	padding-left: 40px;
	width: fit-content;
	margin-left: 10px;
}

a {
	padding: 10px;
	color: white;
	text-decoration: none;
	background-color: black;
	outline: 1px solid black;
	border-radius: 10px;
}

.main {
	margin: 100px;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

.chapter {
}


.entry {
	background-image: url('lily.png');
	background-repeat: no-repeat;
	background-size: auto 25px;
	padding: 2px;
	padding-left: 30px;
	width: fit-content;
	margin-left: 50px;
}

.reply {
	background-image: url('reply.png');
	background-repeat: no-repeat;
	background-size: auto 25px;
	padding: 2px;
	padding-left: 30px;
	width: fit-content;
	margin-left: 50px;
}
