* {
	font-family: 'Courier New', monospace;
}

html {
	background-image: url(bg.png);
	background-size: auto 100%;
	background-position: center;
}

h1 {
	color: white;
	margin-top: 100px;
	background-image: url('key.png');
	background-repeat: no-repeat;
	background-size: 200px auto;
	padding: 90px;
	padding-left: 40px;
	text-align: center;
	background-position: center;
}

h2 {
	background-image: url('book.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 2px;
	padding-left: 40px;
	width: fit-content;
	margin-left: 10px;
}

h3 {
	background-image: url('page.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 2px;
	padding-left: 40px;
	width: fit-content;
	margin-left: 10px;
}

a {
	padding: 10px;
	color: white;
	text-decoration: none;
	background-color: black;
	outline: 1px solid black;
	margin: 20px;
	display: block;
	border-radius: 10px;
}

.main {
	margin: 100px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.book {
	margin: 50px;
	border-top: 10px solid black;
}

.chapter {
	margin: 50px;
}


.entry {
	background-image: url('lily.png');
	background-repeat: no-repeat;
	background-size: auto 25px;
	padding: 2px;
	padding-left: 30px;
	width: fit-content;
	margin-left: 50px;
}

.reply {
	background-image: url('reply.png');
	background-repeat: no-repeat;
	background-size: auto 25px;
	padding: 2px;
	padding-left: 30px;
	width: fit-content;
	margin-left: 50px;
}

#up {
	position: fixed;
	bottom: 0;
	right: 0;
}

#stats {
	padding: 10px;
	color: white;
	text-decoration: none;
	background-color: black;
	outline: 1px solid black;
	margin: 20px;
	display: block;
	border-radius: 10px;
}
